form textarea {
  height: 120px;
}

button[type="submit"] .icon {
  width: 14px;
  height: 14px;
  transition: all 0.4s ease-in-out;
}
button[type="submit"] .hover .icon {
  transform: scale(1.4);
}
button[type="submit"] :hover .icon {
  transform: scale(1.4);
}
button[type="submit"]:hover {
  background-image: linear-gradient(to bottom, #e1e1e1 0%, #b0b0b0 100%);
}
button[type="submit"],
button[type="reset"] {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 15px;
  width: auto;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  background-image: linear-gradient(to bottom, #aeaeae 0%, #535353 100%);
  cursor: pointer;
}
.icon-clock {
  margin-right: 5px;
}
